/* License: Creative Commons Attribution 3.0 License */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* BASE */

html.mobile-menu-expanded {
  overflow: hidden;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: gray;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  body {
    min-width: 320px;
    float: left;
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  color: #262626;
}

p {
  margin-bottom: 30px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

a {
  color: #1784fb;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #1784fb;
  color: #fff;
  border: 2px solid #1784fb;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #0477f4 !important;
  border-color: #0477f4 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #1784fb;
  border: 2px solid #1784fb;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #1784fb;
  color: #fff;
}

.btn-success {
  background: #58ca7e;
  color: #fff;
  border: 2px solid #58ca7e;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #45c46f !important;
  border-color: #45c46f !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #58ca7e;
  border: 2px solid #58ca7e;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #58ca7e;
  color: #fff;
}

.btn-info {
  background: #1784fb;
  color: #fff;
  border: 2px solid #1784fb;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #0477f4 !important;
  border-color: #0477f4 !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #1784fb;
  border: 2px solid #1784fb;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #1784fb;
  color: #fff;
}

.btn-warning {
  background: #fed330;
  color: #fff;
  border: 2px solid #fed330;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #fece17 !important;
  border-color: #fece17 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #fed330;
  border: 2px solid #fed330;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #fed330;
  color: #fff;
}

.btn-danger {
  background: #fb4f59;
  color: #fff;
  border: 2px solid #fb4f59;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #fa3641 !important;
  border-color: #fa3641 !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #fb4f59;
  border: 2px solid #fb4f59;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #fb4f59;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.lnk-primary {
  color: #1784fb;
}
.lnk-primary:hover, .lnk-primary:focus, .lnk-primary:active {
  color: #0477f4;
}

.lnk-success {
  color: #58ca7e;
}
.lnk-success:hover, .lnk-success:focus, .lnk-success:active {
  color: #45c46f;
}

.lnk-info {
  color: #1784fb;
}
.lnk-info:hover, .lnk-info:focus, .lnk-info:active {
  color: #0477f4;
}

.lnk-warning {
  color: #fed330;
}
.lnk-warning:hover, .lnk-warning:focus, .lnk-warning:active {
  color: #fece17;
}

.lnk-danger {
  color: #fb4f59;
}
.lnk-danger:hover, .lnk-danger:focus, .lnk-danger:active {
  color: #fa3641;
}

a .lnk-icon-right {
  top: 2px;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover .lnk-icon-right {
  padding-left: 5px;
}

/* Scroll Animations */
@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 15;
}

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 30px;
  height: 45px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 23px;
}

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 2px;
  height: 6px;
  margin: -2px 0 0 -1px;
  background: white;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

/* Utilities */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.p-b {
  padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none !important;
    width: 100% !important;
    display: block !important;
  }
}
/*  NAVIGATIONS */
#offcanvass {
  position: fixed;
  width: 250px;
  bottom: 0;
  top: 0;
  padding: 20px;
  z-index: 1;
  display: none;
  background: #111111;
  -webkit-backface-visibility: hidden;
}
#offcanvass.offcanvass-nav-style-2 .special, #offcanvass.offcanvass-nav-style-2 .inline, #offcanvass.offcanvass-nav-style-1 .special, #offcanvass.offcanvass-nav-style-1 .inline {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#offcanvass.offcanvass-nav-style-2 .special li, #offcanvass.offcanvass-nav-style-2 .inline li, #offcanvass.offcanvass-nav-style-1 .special li, #offcanvass.offcanvass-nav-style-1 .inline li {
  display: inline;
}
#offcanvass.offcanvass-nav-style-2 .special li a, #offcanvass.offcanvass-nav-style-2 .inline li a, #offcanvass.offcanvass-nav-style-1 .special li a, #offcanvass.offcanvass-nav-style-1 .inline li a {
  padding: 10px 0;
  float: left;
  margin: 0 20px 0 0;
}
#offcanvass > nav {
  position: relative !important;
}
#offcanvass.offcanvass-left {
  left: 0;
  -moz-transform: translateX(-250px);
  -webkit-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  transform: translateX(-250px);
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}
.mobile-menu-expanded #offcanvass.offcanvass-left {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#offcanvass.offcanvass-right {
  right: 0;
  -moz-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}
.mobile-menu-expanded #offcanvass.offcanvass-right {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
@media screen and (max-width: 768px) {
  #offcanvass {
    display: block;
  }
}
#offcanvass a {
  color: rgba(255, 255, 255, 0.5);
}
#offcanvass a:hover, #offcanvass a:focus, #offcanvass a:active {
  outline: none;
  text-decoration: none;
}
#offcanvass .logo a {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
}
#offcanvass ul {
  padding: 0;
  margin: 0;
  float: left;
}
#offcanvass ul li {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
  float: left;
  width: 100%;
}
#offcanvass ul li a {
  padding: 10px 0;
  display: block;
  float: left;
  width: 100%;
}
#offcanvass ul li a:hover {
  color: white;
}
#offcanvass ul li a.call-to-action {
  margin-top: 40px;
  border: 2px solid #58ca7e;
  background: #58ca7e;
  padding: 2px 15px !important;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
}
#offcanvass ul li a.call-to-action:hover {
  color: #fff;
  border: 2px solid #45c46f;
  background: #45c46f;
}
#offcanvass ul.inline {
  width: 100%;
}
#offcanvass ul.inline li {
  display: inline-block;
  float: none;
  width: auto;
}
#offcanvass ul.inline li a {
  display: inline-block;
  float: none;
  width: auto;
  margin-right: 10px;
}

#page {
  position: relative;
  z-index: 2;
}
#page.offcanvass-left {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.mobile-menu-expanded #page.offcanvass-left {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  transform: translateX(250px);
}
#page.offcanvass-right {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
.mobile-menu-expanded #page.offcanvass-right {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-transform: translateX(-250px);
  -webkit-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  transform: translateX(-250px);
}

/* NAV STYLE #1 */
.nav-style-1, .nav-style-2 {
  position: absolute;
  z-index: 8;
  width: 100%;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .nav-style-1, .nav-style-2 {
    margin-top: 20px;
  }
}
.nav-style-1[data-offcanvass-position="offcanvass-left"] .nav-toggle, .nav-style-2[data-offcanvass-position="offcanvass-left"] .nav-toggle {
  right: auto;
  top: auto;
  top: 0;
  left: 0;
  margin-top: -15px !important;
}
.nav-style-1[data-offcanvass-position="offcanvass-right"] .nav-toggle, .nav-style-2[data-offcanvass-position="offcanvass-right"] .nav-toggle {
  right: auto;
  top: auto;
  top: 0;
  right: 0;
  margin-top: -15px !important;
}
.nav-style-1 .logo, .nav-style-2 .logo {
  margin-top: 8px;
  position: relative;
}
.nav-style-1 .logo a, .nav-style-2 .logo a {
  font-size: 25px;
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
}
.nav-style-1 .logo a:hover, .nav-style-1 .logo a:focus, .nav-style-1 .logo a:active, .nav-style-2 .logo a:hover, .nav-style-2 .logo a:focus, .nav-style-2 .logo a:active {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav-style-1 .logo, .nav-style-2 .logo {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .nav-style-1 .link-wrap, .nav-style-2 .link-wrap {
    display: none;
  }
}
.nav-style-1 .link-wrap ul, .nav-style-2 .link-wrap ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
.nav-style-1 .link-wrap ul li, .nav-style-2 .link-wrap ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.nav-style-1 .link-wrap ul li a, .nav-style-2 .link-wrap ul li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  padding: 10px 0;
}
@media screen and (max-width: 992px) {
  .nav-style-1 .link-wrap ul li a, .nav-style-2 .link-wrap ul li a {
    margin: 0 5px;
  }
}
.nav-style-1 .link-wrap ul li a:hover, .nav-style-2 .link-wrap ul li a:hover {
  text-decoration: none;
  color: white;
}
.nav-style-1 .link-wrap ul li a:active, .nav-style-1 .link-wrap ul li a:focus, .nav-style-2 .link-wrap ul li a:active, .nav-style-2 .link-wrap ul li a:focus {
  text-decoration: none;
}
.nav-style-1 .link-wrap ul li a.call-to-action, .nav-style-2 .link-wrap ul li a.call-to-action {
  margin-top: 2px;
  border: 2px solid #58ca7e;
  background: #58ca7e;
  padding: 2px 15px !important;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
}
.nav-style-1 .link-wrap ul li a.call-to-action:hover, .nav-style-2 .link-wrap ul li a.call-to-action:hover {
  color: #fff;
  border: 2px solid #45c46f;
  background: #45c46f;
}
.nav-style-1 .link-wrap ul li.active a, .nav-style-2 .link-wrap ul li.active a {
  color: #fff;
}

/* NAV STYLE #2 */
.nav-style-2 {
  background: transparent;
  border: transparent;
  margin-top: 30px;
  position: absolute;
  top: 0;
  z-index: 8;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .nav-style-2 {
    margin-top: 20px;
  }
}
.nav-style-2 #navbar.navbar-center {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .nav-style-2 #navbar .navbar-nav {
    padding-top: 10px;
  }
}
.nav-style-2 #navbar .navbar-nav.navbar-center {
  float: none !important;
  width: auto !important;
  margin: 0 auto !important;
  display: inline-block !important;
  text-align: center !important;
}
.nav-style-2 #navbar .navbar-nav li a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .nav-style-2 #navbar .navbar-nav li a {
    color: #262626;
  }
}
.nav-style-2 #navbar .navbar-nav li a:hover {
  color: white;
}
@media screen and (max-width: 768px) {
  .nav-style-2 #navbar .navbar-nav li a:hover {
    color: #1784fb;
  }
}
.nav-style-2 #navbar .navbar-nav li.active {
  background: transparent;
}
.nav-style-2 #navbar .navbar-nav li.active a {
  background: transparent;
}
@media screen and (max-width: 768px) {
  .nav-style-2 #navbar .navbar-nav li.active a {
    color: #1784fb;
  }
}
.nav-style-2 #navbar .navbar-nav.social a {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .nav-style-2 #navbar .navbar-nav.social li {
    display: inline-block;
  }
}
.nav-style-2 .navbar-brand {
  display: table;
  margin-top: -10px;
  top: 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .nav-style-2 .navbar-brand {
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.nav-style-2 .navbar-brand > span {
  background: rgba(255, 255, 255, 0.1);
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .nav-style-2 .navbar-brand > span {
    background: rgba(0, 0, 0, 0.1);
    color: #262626 !important;
  }
}
.nav-style-2 .navbar-brand img {
  display: table-cell;
  vertical-align: middle;
  margin-top: -10px;
}
.nav-style-2 .nav-toggle.active i::before, .nav-style-2 .nav-toggle.active i::after {
  background: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 768px) {
  .nav-style-2 .nav-toggle.active i::before, .nav-style-2 .nav-toggle.active i::after {
    background: rgba(255, 255, 255, 0.5);
  }
}
.nav-style-2 .nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 2px;
  color: #1784fb;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: rgba(255, 255, 255, 0.5);
  transition: all .2s ease-out;
}
@media screen and (max-width: 768px) {
  .nav-style-2 .nav-toggle i {
    background: rgba(255, 255, 255, 0.5);
  }
}
.nav-style-2 .nav-toggle i::before, .nav-style-2 .nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .nav-style-2 .nav-toggle i::before, .nav-style-2 .nav-toggle i::after {
    background: rgba(255, 255, 255, 0.5);
  }
}

/* 3.0 COVERS */
.cover {
  position: relative;
  min-height: 800px;
}
.cover .cover-text {
  position: relative;
  z-index: 5;
}
.cover .cover-text .full-height {
  display: table;
  min-height: 800px;
}
.cover .cover-text .full-height .cover-intro {
  display: table-cell;
  vertical-align: middle;
  min-height: 800px;
}
.cover .cover-text .cover-text-lead {
  font-size: 40px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  color: #fff;
}
.cover .cover-text .cover-text-sublead {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}
.cover .cover-text .btn-outline {
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cover .cover-text .btn-outline:hover {
  color: #fff;
  background: #1784fb;
  border-color: #1784fb;
}
.cover .cover-text .btn-outline:hover, .cover .cover-text .btn-outline:focus, .cover .cover-text .btn-outline:active {
  outline: none;
}

/* COVER STYLE #1 */
.cover-style-1 {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  position: relative;
}
.cover-style-1 > .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

.cover-style-2 {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  position: relative;
}
.cover-style-2 > .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

/* PROJECTS */

.project-style-1,
.project-style-2,
.project-style-3,
.project-style-4 {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .project-style-1,
  .project-style-2,
  .project-style-3,
  .project-style-4 {
    padding: 3em 0;
  }
}

.project-style-1 .grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.project-style-1 .grid > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  background: #1784fb;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project-style-1 .grid > a i {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 40px;
  color: #fff;
}
.project-style-1 .grid > a:hover {
  opacity: .9;
}
.project-style-1 .grid-1 {
  height: 544px;
}
@media screen and (max-width: 768px) {
  .project-style-1 .grid-1 {
    height: 254px;
  }
}
.project-style-1 .grid-2 {
  height: 257px;
}
.project-style-1 .grid-3 {
  height: 257px;
}

.project-style-2 {
  padding-bottom: 0;
}
.project-style-2 .projects ul {
  padding: 0;
  margin: 0;
}
.project-style-2 .projects ul li {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -o-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.project-style-2 .projects ul li a {
  width: 100%;
  position: relative;
  display: block;
}
.project-style-2 .projects ul li a .overlay {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: .8;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-style-2 .projects ul li a .text {
  display: table;
  width: 100%;
  position: relative;
  z-index: 2;
}
.project-style-2 .projects ul li a .text .text-inner {
  display: table-cell;
  vertical-align: middle;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .project-style-2 .projects ul li a .text .text-inner {
    height: inherit;
    padding: 4em 0;
  }
}
.project-style-2 .projects ul li a .text .text-inner h3 {
  margin-bottom: 0;
  color: #fff;
}
.project-style-2 .projects ul li a .text .text-inner p {
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
}
.project-style-2 .projects ul li a .text .text-inner p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .project-style-2 .projects ul li a .text .text-inner p {
    font-size: 16px;
    line-height: 24px;
  }
}
.project-style-2 .projects ul li a > .container {
  position: relative;
}
.project-style-2 .projects ul li a:hover .overlay {
  opacity: .4;
}

.project-style-3 .project-wrap {
  position: relative;
  overflow: hidden;
}
.project-style-3 .project-item {
  position: relative;
  height: 350px;
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.project-style-3 .project-item .overlay,
.project-style-3 .project-item .text {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-style-3 .project-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #1784fb;
  opacity: 0;
  z-index: 2;
}
.project-style-3 .project-item .text {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 3;
  bottom: 20px;
  opacity: 0;
  padding: 0 15px;
}
.project-style-3 .project-item .text h3, .project-style-3 .project-item .text p {
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-style-3 .project-item .text h3 {
  color: #fff;
  top: -30px;
  margin-bottom: 10px;
}
.project-style-3 .project-item .text p {
  color: rgba(255, 255, 255, 0.6);
  top: 30px;
}
.project-style-3 .project-item:hover .overlay {
  opacity: .9;
}
.project-style-3 .project-item:hover .text {
  opacity: 1;
}
.project-style-3 .project-item:hover h3, .project-style-3 .project-item:hover p {
  opacity: 1;
  top: 0;
}

.project-style-4 .heading {
  margin-bottom: 20px;
}
.project-style-4 .meta {
  color: #b3b3b3;
  margin-bottom: 3em;
}
.project-style-4 .checklist {
  padding-top: 4em;
}
.project-style-4 .checklist h3 {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}
.project-style-4 .checklist ul {
  padding: 0;
  margin: 0;
}
.project-style-4 .checklist ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
.project-style-4 .share {
  padding-top: 4em;
}
.project-style-4 .share h3 {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}
.project-style-4 .share ul {
  padding: 0;
  margin: 0;
}
.project-style-4 .share ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  font-size: 15px;
  letter-spacing: 1px;
}
.project-style-4 .share ul li a {
  margin: 0 10px 10px 0;
}
.project-style-4 .navigation .icon {
  font-size: 28px;
}
.project-style-4 .navigation .prev a,
.project-style-4 .navigation .next a,
.project-style-4 .navigation .all a {
  font-size: 20px;
  color: #000;
}
.project-style-4 .navigation .prev a:hover,
.project-style-4 .navigation .next a:hover,
.project-style-4 .navigation .all a:hover {
  color: #1784fb;
}

.project-style-5 {
  background: #f7f7f7;
}
.project-style-5 .project-item {
  float: left;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .project-style-5 .project-item {
    display: block;
  }
}
.project-style-5 .project-item .project-description,
.project-style-5 .project-item .project-figure {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .project-style-5 .project-item .project-description,
  .project-style-5 .project-item .project-figure {
    display: block;
    width: 100%;
  }
}
.project-style-5 .project-item .project-figure {
  overflow: hidden;
  position: relative;
}
.project-style-5 .project-item .project-figure > div {
  position: relative;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
  .project-style-5 .project-item .project-figure {
    height: 400px;
  }
}
.project-style-5 .project-item .project-description {
  background: #fff;
  padding: 4em;
}
@media screen and (max-width: 1200px) {
  .project-style-5 .project-item .project-description {
    padding: 2em;
  }
}
@media screen and (max-width: 768px) {
  .project-style-5 .project-item .project-description {
    padding: 1em;
    padding-top: 30px;
  }
}
.project-style-5 .project-item .project-description h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.project-style-5 .project-item.img-right .project-figure {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
}
.project-style-5 .project-item.img-right .project-figure > div {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .project-style-5 .project-item.img-right .project-figure {
    position: relative;
    top: auto;
    bototm: auto;
    height: 400px;
  }
}
.project-style-5 .project-item:focus .project-figure > div, .project-style-5 .project-item:hover .project-figure > div {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* CONTENTS */
.content-style-2,
.content-style-3,
.content-style-4,
.content-style-5,
.content-style-6,
.content-style-7,
.content-style-8,
.content-style-9,
.content-style-10 {
  padding: 5em 0;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .content-style-2,
  .content-style-3,
  .content-style-4,
  .content-style-5,
  .content-style-6,
  .content-style-7,
  .content-style-8,
  .content-style-9,
  .content-style-10 {
    padding: 3em 0;
  }
}

.content-style-2 {
  background: #7dc6d9;
}
.content-style-2 h2 {
  color: #fff;
}
.content-style-2 p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 19px;
  line-height: 29px;
}
.content-style-2 .gallery .link-block {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 30px;
  height: 160px;
}
.content-style-2 .gallery .link-block .text {
  position: absolute;
  z-index: 9;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  margin-top: 30px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.content-style-2 .gallery .link-block .text .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  font-size: 30px;
  color: #fff;
}
.content-style-2 .gallery .link-block img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.content-style-2 .gallery .link-block .overlay {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1784fb;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.content-style-2 .gallery .link-block:hover, .content-style-2 .gallery .link-block:focus {
  overflow: hidden;
}
.content-style-2 .gallery .link-block:hover .overlay, .content-style-2 .gallery .link-block:focus .overlay {
  opacity: .8;
}
.content-style-2 .gallery .link-block:hover .text, .content-style-2 .gallery .link-block:focus .text {
  margin-top: 0px;
  opacity: 1;
}
.content-style-2 .gallery .link-block:hover img, .content-style-2 .gallery .link-block:focus img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.content-style-3 .siidear-links {
  padding: 0;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 768px) {
  .content-style-3 .siidear-links {
    padding-left: 20px;
    margin-bottom: 30px;
  }
}
.content-style-3 .siidear-links li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
.content-style-3 .siidear-links li a {
  color: #a6a6a6;
  position: relative;
}
.content-style-3 .siidear-links li a:before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  top: 50%;
  margin-top: -4px;
  margin-left: -17px;
  background: #e6e6e6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content-style-3 .siidear-links li a:hover, .content-style-3 .siidear-links li a:active, .content-style-3 .siidear-links li a:focus {
  color: #1a1a1a;
}
.content-style-3 .siidear-links li a:hover:before, .content-style-3 .siidear-links li a:active:before, .content-style-3 .siidear-links li a:focus:before {
  background: #1784fb;
}
.content-style-3 .siidear-links li.label {
  color: #cccccc;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px !important;
  display: block;
  text-align: left;
}
.content-style-3 .siidear-links li.active a {
  color: #1a1a1a;
}
.content-style-3 .siidear-links li.active a:before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  top: 50%;
  margin-top: -4px;
  margin-left: -17px;
  background: #1784fb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-style-4 {
  background: #1784fb;
}
.content-style-4 .sub {
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}
.content-style-4 .heading {
  color: #fff;
}
.content-style-4 p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 28px;
}
.content-style-4 p:last-child {
  margin-bottom: 0;
}
.content-style-4 .btn-outline {
  color: #fff;
  border-color: #fff;
}
.content-style-4 .btn-outline:hover {
  background: #035fc2;
  border-color: #035fc2;
}

.content-style-5 {
  background: #f7f7f7;
}
.content-style-5 .content-item {
  float: left;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .content-style-5 .content-item {
    display: block;
  }
}
.content-style-5 .content-item .content-description,
.content-style-5 .content-item .content-figure {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .content-style-5 .content-item .content-description,
  .content-style-5 .content-item .content-figure {
    display: block;
    width: 100%;
  }
}
.content-style-5 .content-item .content-figure {
  overflow: hidden;
  position: relative;
}
.content-style-5 .content-item .content-figure > div {
  position: relative;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
  .content-style-5 .content-item .content-figure {
    height: 400px;
  }
}
.content-style-5 .content-item .content-description {
  background: #fff;
  padding: 4em;
}
@media screen and (max-width: 1200px) {
  .content-style-5 .content-item .content-description {
    padding: 2em;
  }
}
@media screen and (max-width: 768px) {
  .content-style-5 .content-item .content-description {
    padding: 1em;
    padding-top: 30px;
  }
}
.content-style-5 .content-item .content-description h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.content-style-5 .content-item.img-right .content-figure {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
}
.content-style-5 .content-item.img-right .content-figure > div {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .content-style-5 .content-item.img-right .content-figure {
    position: relative;
    top: auto;
    bototm: auto;
    height: 400px;
  }
}
.content-style-5 .content-item:focus .content-figure > div, .content-style-5 .content-item:hover .content-figure > div {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.content-style-6, .content-style-7 {
  background: #f7f7f7;
}
.content-style-6 .link-block figure, .content-style-7 .link-block figure {
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  z-index: 1;
}
.content-style-6 .link-block h3, .content-style-7 .link-block h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}
.content-style-6 .link-block p, .content-style-7 .link-block p {
  color: gray;
}
.content-style-6 .link-block .meta, .content-style-7 .link-block .meta {
  color: #b3b3b3;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}
.content-style-6 .link-block img, .content-style-7 .link-block img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.content-style-6 .link-block:hover figure, .content-style-7 .link-block:hover figure {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.content-style-6 .link-block:hover img, .content-style-7 .link-block:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.content-style-6 {
  background: #fff;
}

.content-style-8 h4 {
  margin-bottom: 7px;
}

.content-style-9 {
  background: #f7f7f7;
}
.content-style-9 .btn-actions .ol {
  padding-left: 10px;
  padding-right: 10px;
  color: #b3b3b3;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@media screen and (max-width: 480px) {
  .content-style-9 .btn-actions .ol {
    display: block;
  }
}

.content-style-10 {
  background: #1784fb;
}
.content-style-10 h2 {
  margin-top: 20px;
  color: #fff;
}
.content-style-10 h2:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .content-style-10 h2:last-child {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
.content-style-10 p {
  color: #fff;
  margin-bottom: 30px;
}
.content-style-10 p:last-child {
  margin-bottom: 0;
}
.content-style-10 .btn-outline {
  color: #fff;
  border-color: #fff;
}
.content-style-10 .btn-outline:hover {
  background: #035fc2;
  border-color: #035fc2;
}

/* FEATURES */

.features-style-1,
.features-style-2,
.features-style-3,
.features-style-4,
.features-style-5 {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .features-style-1,
  .features-style-2,
  .features-style-3,
  .features-style-4,
  .features-style-5 {
    padding: 3em 0;
  }
}

.features-style-1,
.features-style-5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.features-style-1 > .overlay,
.features-style-5 > .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.features-style-1 .heading,
.features-style-5 .heading {
  color: #fff;
}
.features-style-1 h3,
.features-style-5 h3 {
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-style-1 h3,
.features-style-5 h3 {
  color: #fff;
}
.features-style-1 p,
.features-style-5 p {
  color: rgba(255, 255, 255, 0.7);
}
.features-style-1 .features,
.features-style-5 .features {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.features-style-1 .features .feature,
.features-style-5 .features .feature {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  flex-grow: 1;
  width: 33%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.features-style-1 .features .feature:nth-of-type(3n+0),
.features-style-5 .features .feature:nth-of-type(3n+0) {
  border-right: none;
}
.features-style-1 .features .feature .icon,
.features-style-5 .features .feature .icon {
  color: #fed330;
  margin-bottom: 20px;
}
.features-style-1 .features .feature .icon i,
.features-style-5 .features .feature .icon i {
  font-size: 40px;
}
.features-style-1 .features .feature:nth-last-child(1), .features-style-1 .features .feature:nth-last-child(2), .features-style-1 .features .feature:nth-last-child(3),
.features-style-5 .features .feature:nth-last-child(1),
.features-style-5 .features .feature:nth-last-child(2),
.features-style-5 .features .feature:nth-last-child(3) {
  border-bottom: none;
}
@media screen and (max-width: 768px) {
  .features-style-1 .features .feature,
  .features-style-5 .features .feature {
    border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
    width: 50%;
  }
  .features-style-1 .features .feature:nth-of-type(2n+0),
  .features-style-5 .features .feature:nth-of-type(2n+0) {
    border-right: none !important;
  }
  .features-style-1 .features .feature:nth-last-child(3),
  .features-style-5 .features .feature:nth-last-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .features-style-1 .features .feature:nth-last-child(1), .features-style-1 .features .feature:nth-last-child(2),
  .features-style-5 .features .feature:nth-last-child(1),
  .features-style-5 .features .feature:nth-last-child(2) {
    border-bottom: none;
  }
}
@media screen and (max-width: 480px) {
  .features-style-1 .features .feature,
  .features-style-5 .features .feature {
    width: 100%;
    border-right: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  }
}

.features-style-1 {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position: left top;
}
.features-style-1 > .overlay {
  background: rgba(0, 0, 0, 0.6);
}

.features-style-2 .feature {
  margin-bottom: 30px;
  float: left;
  clear: right;
}
.features-style-2 .feature .icon {
  float: left;
  width: 20%;
}
.features-style-2 .feature .icon i {
  font-size: 40px;
  color: #58ca7e;
}
.features-style-2 .feature .desc {
  width: 80%;
  float: right;
}
.features-style-2 .feature .desc h3 {
  margin-top: 0;
  font-size: 18px;
}

.features-style-3 {
  background: #fafafa;
}
.features-style-3 .box {
  padding: 30px;
  background: #fff;
  text-align: center;
  color: #7f7f7f;
  margin-bottom: 70px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .features-style-3 .box {
    min-height: inherit;
    margin-bottom: 60px;
  }
}
.features-style-3 .box .icon {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
}
.features-style-3 .box .icon > span {
  display: table-cell;
  vertical-align: middle;
}
.features-style-3 .box .icon > span i {
  font-size: 40px;
  color: #fff !important;
  margin: 0;
  padding: 0;
}
.features-style-3 .box .icon.colored-1 {
  background: #2aaf67;
}
.features-style-3 .box .icon.colored-2 {
  background: #00bff3;
}
.features-style-3 .box .icon.colored-3 {
  background: #f26522;
}
.features-style-3 .box .icon.colored-4 {
  background: #e52b50;
}
.features-style-3 .box .icon.colored-5 {
  background: #2fc5cc;
}
.features-style-3 .box .icon.colored-6 {
  background: #6173f4;
}
.features-style-3 .box .step-number {
  font-size: 16px;
  display: block;
  color: #d1d1d1;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.features-style-3 .box h3 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.features-style-4 {
  background: #58ca7e;
}
.features-style-4 .section-heading .heading {
  color: #fff;
}
.features-style-4 .section-heading p {
  color: rgba(255, 255, 255, 0.7);
}
.features-style-4 .feature-item {
  background: #fff;
  float: left;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 480px) {
  .features-style-4 .feature-item {
    display: block !important;
  }
}
.features-style-4 .feature-item .feature-text,
.features-style-4 .feature-item .feature-img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .features-style-4 .feature-item .feature-text,
  .features-style-4 .feature-item .feature-img {
    height: inherit;
    float: none !important;
    width: 100%;
    display: block !important;
  }
}
.features-style-4 .feature-item .feature-text {
  float: left;
  padding: 20px;
}
.features-style-4 .feature-item .feature-text .feature-title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  position: relative;
}
.features-style-4 .feature-item .feature-text .feature-title .border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: #58ca7e;
}
.features-style-4 .feature-item .feature-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .features-style-4 .feature-item .feature-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}

.features-style-5 {
  background: #232939;
}
.features-style-5 h3 {
  color: #fff;
}
.features-style-5 p {
  color: rgba(255, 255, 255, 0.4);
}
.features-style-5 .features .feature {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: none !important;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .features-style-5 .features .feature {
    border-right: 1px solid rgba(255, 255, 255, 0.05) !important;
    border-right: none !important;
  }
}
@media screen and (max-width: 480px) {
  .features-style-5 .features .feature {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
    border-bottom: none !important;
  }
}
.features-style-5 .icon {
  color: #58ca7e !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  display: table;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.features-style-5 .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}

/* BLOGS */

.blog-style-1 {
  padding: 7em 0;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .blog-style-1 {
    padding: 4em 0;
  }
}
.blog-style-1 .post {
  float: left;
  width: 100%;
  background: #fff;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px #DFDFDF;
  -moz-box-shadow: 0px 0px 20px #DFDFDF;
  -ms-box-shadow: 0px 0px 20px #DFDFDF;
  -o-box-shadow: 0px 0px 20px #DFDFDF;
  box-shadow: 0px 0px 20px #DFDFDF;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-style-1 .post img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog-style-1 .post:hover img, .blog-style-1 .post:focus img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.blog-style-1 .post .post-image {
  position: relative;
  overflow: hidden;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  z-index: 1;
}
.blog-style-1 .post .post-image .overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.blog-style-1 .post .post-image .category {
  margin: 10px 0 0 15px;
  float: left;
  z-index: 2;
  position: absolute;
}
.blog-style-1 .post .post-image .category > a {
  font-size: 10px;
  padding: 2px 10px;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #f2f2f2;
  margin: 0 4px 4px 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.blog-style-1 .post .post-image .category > a:hover {
  background: #1784fb;
  border: 1px solid #1784fb;
}
.blog-style-1 .post .post-image .category > a:hover, .blog-style-1 .post .post-image .category > a:active, .blog-style-1 .post .post-image .category > a:focus {
  text-decoration: none;
}
.blog-style-1 .post .post-text {
  padding: 20px;
}
.blog-style-1 .post .post-text h3 {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 700;
}
.blog-style-1 .post .post-text h3 a {
  color: #000;
}
.blog-style-1 .post .post-text h3 a:hover {
  color: #1784fb;
}
.blog-style-1 .post .post-text h3 a:hover, .blog-style-1 .post .post-text h3 a:active, .blog-style-1 .post .post-text h3 a:focus {
  text-decoration: none;
}
.blog-style-1 .post .post-text p {
  font-size: 14px;
  margin-bottom: 0;
  color: #a6a6a6;
}
.blog-style-1 .post .post-text p:last-child {
  margin-bottom: 0 !important;
}
.blog-style-1 .post .post-meta {
  border-top: 1px solid #f0f0f0;
  padding: 10px 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}
.blog-style-1 .post .post-meta a {
  font-size: 13px;
  margin-right: 10px;
  margin-bottom: 20px;
  color: #b3b3b3;
}
.blog-style-1 .post .post-meta a i {
  display: inline-block;
  margin-right: 5px;
}
.blog-style-1 .post .post-meta a:hover, .blog-style-1 .post .post-meta a:active, .blog-style-1 .post .post-meta a:focus {
  text-decoration: none;
}
.blog-style-1 .post .post-meta a:hover {
  color: #000;
}

.blog-style-2 {
  background: #f7f7f7;
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .blog-style-2 {
    padding: 3em 0;
  }
}
.blog-style-2 .link-block figure {
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.blog-style-2 .link-block h3 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
}
.blog-style-2 .link-block:hover h3 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1784fb;
}
.blog-style-2 .link-block p {
  color: gray;
}
.blog-style-2 .link-block .meta {
  color: #b3b3b3;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}
.blog-style-2 .link-block img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-style-2 .link-block:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.team-style-1,
.team-style-2,
.team-style-3 {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .team-style-1,
  .team-style-2,
  .team-style-3 {
    padding: 3em 0;
  }
}

.team-style-1 .person {
  position: relative;
  height: 350px;
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.team-style-1 .person .overlay,
.team-style-1 .person .text {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.team-style-1 .person .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #1784fb;
  opacity: 0;
  z-index: 2;
}
.team-style-1 .person .text {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 3;
  bottom: 20px;
  opacity: 0;
  padding: 0 15px;
}
.team-style-1 .person .text h3, .team-style-1 .person .text p {
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.team-style-1 .person .text h3 {
  color: #fff;
  top: -30px;
  margin-bottom: 10px;
}
.team-style-1 .person .text p {
  color: rgba(255, 255, 255, 0.6);
  top: 30px;
}
.team-style-1 .person:hover .overlay {
  opacity: .9;
}
.team-style-1 .person:hover .text {
  opacity: 1;
}
.team-style-1 .person:hover h3, .team-style-1 .person:hover p {
  opacity: 1;
  top: 0;
}

.team-style-2 {
  background: #fafafa;
}
.team-style-2 .person {
  background: #fff;
  text-align: center;
  padding: 30px;
  float: left;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.team-style-2 .person figure {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.team-style-2 .person .text {
  padding: 10px;
}
.team-style-2 .person .text h3 {
  margin-bottom: 0;
}
.team-style-2 .person .text .meta {
  color: #b3b3b3 !important;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}
.team-style-2 .person:hover, .team-style-2 .person:focus {
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}
.team-style-2 .social {
  padding: 0;
  margin: 0;
}
.team-style-2 .social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.team-style-2 .social li a {
  color: gray;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.team-style-2 .social li a:hover {
  color: #1784fb;
}

.team-style-3 .person {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.team-style-3 .person img {
  display: block;
  margin: 0 auto 30px auto;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.team-style-3 .person .name {
  font-size: 24px;
  margin-bottom: 0;
}
.team-style-3 .person .position {
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
  color: #b3b3b3;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 12px;
}
.team-style-3 .person .social-circle {
  padding: 0;
  margin: 0;
}
.team-style-3 .person .social-circle li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.team-style-3 .person .social-circle li a {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  color: gray;
}
.team-style-3 .person .social-circle li a:hover {
  color: #1784fb;
}

/*  FOOTERS  */

.footer-style-1,
.footer-style-2,
.footer-style-3 {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .footer-style-1,
  .footer-style-2,
  .footer-style-3 {
    padding: 3em 0;
  }
}

.footer-style-1 {
  padding-top: 0;
  padding-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.footer-style-1 .p-b {
  padding-bottom: 20px;
}
.footer-style-1 .subscribe {
  padding: 7em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.footer-style-1 .subscribe > .overlay {
  position: absolute;
  background: #000;
  opacity: .45;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.footer-style-1 .subscribe .form {
  position: relative;
  z-index: 3;
}
.footer-style-1 .subscribe .form h2 {
  color: #fff;
}
.footer-style-1 .subscribe .form p {
  color: rgba(255, 255, 255, 0.8);
}
.footer-style-1 .subscribe .form p:last-child {
  margin-bottom: 0;
}
.footer-style-1 .subscribe .form-group {
  position: relative;
}
.footer-style-1 .subscribe .form-group i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
  color: #fff;
}
.footer-style-1 .subscribe .form-control {
  padding-left: 45px;
  padding-right: 30px;
  box-shadow: none;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  height: 52px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-style-1 .subscribe .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer-style-1 .subscribe .form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer-style-1 .subscribe .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer-style-1 .subscribe .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer-style-1 .subscribe .form-control:focus, .footer-style-1 .subscribe .form-control:active {
  background: rgba(255, 255, 255, 0.2);
}
.footer-style-1 .subscribe .btn {
  margin-top: 3px;
  height: 52px;
}
.footer-style-1 .footer-inner {
  padding: 7em 0;
  font-family: "Open Sans", Arial, sans-serif;
}
.footer-style-1 .footer-inner .copyright {
  margin-bottom: 20px !important;
  line-height: 1.5;
}
.footer-style-1 .footer-inner .logo {
  margin-bottom: 20px;
}
.footer-style-1 .footer-inner .logo a {
  padding: 15px 15px;
  background: rgba(0, 0, 0, 0.07);
  font-size: 40px;
  color: #4d4d4d;
  font-weight: 700;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-family: "Montserrat", Arial, sans-serif;
}
.footer-style-1 .footer-inner .logo a:hover, .footer-style-1 .footer-inner .logo a:focus {
  text-decoration: none;
}
.footer-style-1 .footer-inner h3 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Open Sans", Arial, sans-serif;
}
.footer-style-1 .footer-inner p {
  color: #b3b3b3;
  font-size: 15px;
  font-weight: 40;
  font-family: "Open Sans", Arial, sans-serif;
}
.footer-style-1 .footer-inner p:last-child {
  margin-bottom: 0;
}
.footer-style-1 .footer-inner .links {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
}
.footer-style-1 .footer-inner .links li {
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
}
.footer-style-1 .footer-inner .links li a {
  font-size: 14px;
  color: gray;
}
.footer-style-1 .footer-inner .links li a:hover {
  text-decoration: none;
  color: #1784fb;
}
.footer-style-1 .footer-inner .social {
  text-align: right;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .footer-style-1 .footer-inner .social {
    text-align: left;
  }
}
.footer-style-1 .footer-inner .social a {
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333333;
}
.footer-style-1 .footer-inner .social a:hover {
  text-decoration: none;
  color: #1784fb;
}

.footer-style-2 {
  background: #232939;
}
.footer-style-2 .logo {
  color: #fff;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
  margin-bottom: 0px;
}
@media screen and (max-width: 480px) {
  .footer-style-2 .logo {
    text-align: center;
  }
}
.footer-style-2 .logo > span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 768px) {
  .footer-style-2 .logo > span {
    display: block;
  }
}
.footer-style-2 a {
  color: rgba(255, 255, 255, 0.5);
}
.footer-style-2 a:hover {
  color: white;
}
.footer-style-2 .footer-style-2-link {
  text-align: right;
}
.footer-style-2 .footer-style-2-link > a {
  display: none;
}
@media screen and (max-width: 992px) {
  .footer-style-2 .footer-style-2-link {
    text-align: left;
  }
}
.footer-style-2 .footer-style-2-link ul {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .footer-style-2 .footer-style-2-link ul {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .footer-style-2 .footer-style-2-link ul {
    margin-bottom: 20px;
  }
}
.footer-style-2 .footer-style-2-link ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
@media screen and (max-width: 480px) {
  .footer-style-2 .footer-style-2-link ul li {
    display: block;
  }
}
.footer-style-2 .footer-style-2-link ul li a {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 480px) {
  .footer-style-2 .footer-style-2-link ul li a {
    padding: 4px 0;
    display: block;
  }
}
.footer-style-2 .footer-style-2-link ul li a:hover {
  color: white;
}

.footer-style-3 {
  background: #262626;
  font-size: 15px;
}
.footer-style-3 .footer-widget {
  margin-bottom: 30px;
}
.footer-style-3 .logo {
  color: #fff;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
  margin-bottom: 40px;
}
.footer-style-3 .logo .logo {
  padding: 7px 15px;
  background: rgba(255, 255, 255, 0.1);
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.footer-style-3 .copyright {
  font-size: 15px;
}
.footer-style-3 h3 {
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .footer-style-3 h3 {
    margin-bottom: 20px;
  }
}
.footer-style-3 p {
  color: rgba(255, 255, 255, 0.5);
}
.footer-style-3 a {
  color: rgba(255, 255, 255, 0.3);
}
.footer-style-3 a:hover {
  color: white;
}
.footer-style-3 .btn {
  border-color: rgba(255, 255, 255, 0.1);
  color: gray;
}
.footer-style-3 .links {
  padding: 0;
  margin: 0;
}
.footer-style-3 .links li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
.footer-style-3 .links.social .icon {
  font-size: 17px;
  margin-right: 5px;
  top: 2px;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.footer-style-3 .made {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 4em;
}
.footer-style-3 .made p {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 24px;
}
.footer-style-3 .made p:last-child {
  margin-bottom: 0;
}
.footer-style-3 .made p .heart {
  color: #fb4f59;
}

/*  TESTIMONIALS  */

.testimonial-style-1,
.testimonial-style-2 {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .testimonial-style-1,
  .testimonial-style-2 {
    padding: 3em 0;
  }
}

.testimonial-style-1 {
  background: #f2f2f2;
}
.testimonial-style-1 .box-testimony {
  margin-bottom: 2em;
  float: left;
}
.testimonial-style-1 .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.testimonial-style-1 .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.testimonial-style-1 .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 24px;
  line-height: 0;
  display: table;
  color: #1784fb;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #f2f2f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.testimonial-style-1 .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
.testimonial-style-1 .box-testimony blockquote p {
  font-style: italic;
}
.testimonial-style-1 .box-testimony .author {
  color: gray;
  margin-left: 20px;
  font-size: 15px;
}
.testimonial-style-1 .box-testimony .author .subtext {
  display: block;
  color: #cccccc;
  font-size: 16px;
}

.testimonial-style-2 .testimonial-item {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.testimonial-style-2 .testimonial-item .name {
  margin-bottom: 30px;
  float: left;
}
.testimonial-style-2 .testimonial-item .name img {
  width: 70px;
  float: left;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.testimonial-style-2 .testimonial-item .name .meta {
  float: left;
  margin-top: 15px;
}
.testimonial-style-2 .testimonial-item .name .meta h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}
.testimonial-style-2 .testimonial-item .name .meta .company {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #cccccc;
  font-size: 11px !important;
}
.testimonial-style-2 .testimonial-item .text {
  font-family: "Merriweather", Times, serif;
  font-size: 16px;
  float: left;
  width: 100%;
  clear: both;
}
.testimonial-style-2 .testimonial-item .text p {
  font-style: italic;
  line-height: 28px;
}
.testimonial-style-2 .testimonial-item .text p:last-child {
  margin-bottom: 0;
}

.pricing-style-1,
.pricing-style-2 {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .pricing-style-1,
  .pricing-style-2 {
    padding: 3em 0;
  }
}

.pricing-style-1 .price {
  padding-top: 0em;
  display: block;
  font-size: 50px;
  line-height: 50px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #1784fb;
  margin-bottom: 30px;
}
.pricing-style-1 .price > span {
  font-size: 16px;
  line-height: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: gray;
}
.pricing-style-1 .currency {
  vertical-align: super;
  font-size: 30px !important;
  color: #1784fb !important;
  position: relative;
}
.pricing-style-1 .pricing-item {
  display: block;
  color: #333333;
  float: left;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 40px 10px;
  margin-bottom: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.pricing-style-1 .pricing-item.pricing-feature {
  border-top: 10px solid #1784fb;
  z-index: 9;
}
.pricing-style-1 .pricing-item p:last-child {
  margin-bottom: 0;
}
.pricing-style-1 .pricing-item:hover, .pricing-style-1 .pricing-item:focus, .pricing-style-1 .pricing-item:active {
  text-decoration: none;
  outline: none;
}
.pricing-style-1 .pricing-item .pricing-item-lead {
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.pricing-style-1 .pricing-item .pricing-item-text {
  font-size: 16px;
  color: #a6a6a6;
}
.pricing-style-1 .pricing-item:hover, .pricing-style-1 .pricing-item.active {
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  margin-top: -10px;
}
@media screen and (max-width: 768px) {
  .pricing-style-1 .pricing-item:hover, .pricing-style-1 .pricing-item.active {
    margin-top: 0px;
  }
}

.pricing-style-2 {
  background: #58ca7e;
}
.pricing-style-2 .heading {
  color: #fff;
}
.pricing-style-2 p {
  color: rgba(255, 255, 255, 0.7);
}
.pricing-style-2 .pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
}
.pricing-style-2 .pricing-item {
  font-family: "Montserrat", Arial, sans-serif;
  padding: 2em 3em;
  margin: 1em;
  color: #262b38;
  background: #fff;
  cursor: default;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 992px) {
  .pricing-style-2 .pricing-item {
    margin: 1.5em 0;
  }
  .pricing-style-2 .pricing-item.pricing-item--featured {
    z-index: 10;
    margin: 0;
    font-size: 1.15em;
  }
}
.pricing-style-2 .pricing-title {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.pricing-style-2 .pricing-price {
  font-size: 5em;
  font-weight: 800;
  color: #58ca7e;
  position: relative;
  z-index: 100;
}
.pricing-style-2 .pricing-currency {
  font-size: 0.5em;
  vertical-align: super;
}
.pricing-style-2 .pricing-period {
  font-size: 16px;
  display: inline-block;
  padding: 0 0 0 0.5em;
  color: #cccccc;
}
.pricing-style-2 .pricing-sentence {
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
  font-size: 16px;
  text-align: center;
  color: #999999;
}
.pricing-style-2 .pricing-feature-list {
  font-size: 0.95em;
  margin: 0;
  padding: 1.5em 0.5em 2.5em;
  list-style: none;
}
.pricing-style-2 .pricing-feature {
  padding: 0.15em 0;
}
.pricing-style-2 .pricing-action {
  font-weight: bold;
  margin-top: auto;
  padding: 1em 2em;
  color: #fff;
  border-radius: 5px;
  background: #6ed19c;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.pricing-style-2 .pricing-action:hover,
.pricing-style-2 .pricing-action:focus {
  background-color: #4F5F56;
}

.counter-style-1,
.counter-style-2 {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
@media screen and (max-width: 768px) {
  .counter-style-1,
  .counter-style-2 {
    padding: 3em 0;
  }
}
.counter-style-1 .overlay,
.counter-style-2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.counter-style-1, .counter-style-1 .section-content-wrap,
.counter-style-2,
.counter-style-2 .section-content-wrap {
  height: 500px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .counter-style-1, .counter-style-1 .section-content-wrap,
  .counter-style-2,
  .counter-style-2 .section-content-wrap {
    height: inherit;
  }
}
.counter-style-1 .section-content-wrap,
.counter-style-2 .section-content-wrap {
  display: table;
}
.counter-style-1 .section-content-wrap .section-content,
.counter-style-2 .section-content-wrap .section-content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.counter-style-1 .counter,
.counter-style-2 .counter {
  font-size: 50px;
  display: block;
  color: #fff;
  width: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  margin-bottom: .5em;
}
.counter-style-1 .counter-label,
.counter-style-2 .counter-label {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 5px;
  margin-bottom: 2em;
  display: block;
}

.counter-style-2 .icon {
  color: #fff;
  width: 70px;
  height: 70px;
  margin: 0 auto 30px auto;
  text-align: center;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.counter-style-2 .icon i {
  text-align: center;
  width: 100%;
  font-size: 30px;
  display: block;
  top: 50%;
  margin-top: -15px;
  position: absolute;
}
.counter-style-2 .counter-label {
  color: rgba(255, 255, 255, 0.5);
}


.nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.nav-toggle.active i::before, .nav-toggle.active i::after {
  background: rgba(255, 255, 255, 0.5);
}
.nav-toggle:hover, .nav-toggle:focus, .nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 2px;
  color: #1784fb;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: rgba(255, 255, 255, 0.5);
  transition: all .2s ease-out;
}
.nav-toggle i::before, .nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav-toggle i::before {
  top: -7px;
}

.nav-toggle i::after {
  bottom: -7px;
}

.nav-toggle:hover i::before {
  top: -10px;
}

.nav-toggle:hover i::after {
  bottom: -10px;
}

.nav-toggle.active i {
  background: transparent;
}

.nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.nav-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}

