<!--The content below is only a placeholder and can be replaced.-->
  <div id="page">
    <nav class="nav-style-2" role="navigation" data-offcanvass-position="offcanvass-left">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo">
          <a href="#logo" class="js-mobile-toggle nav-toggle"><i></i></a>
          <a class="animated fadeInDown" href="#title">
            {{title}}
          </a>
          <div class="text-right link-wrap">
            <ul class="special" data-offcanvass="yes">
              <li><a routerLink="feature">FEATURES</a></li>
              <li><a href="#wishlist">WISHLIST</a></li>
              <li><a href="#contact">CONTACT US</a></li>
              <li><a href="#join">JOIN US</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div id="toast" class="cover cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes" style="background-image: url(/assets/images/restaurant.png);">
      
      <div class="overlay"></div>
      <div class="cover-text">
        <div class="container">
          <div class="row">
            <div class="col-md-push-6 col-md-6 full-height js-full-height">

            </div>
            <div class="col-md-push-6 col-md-6 full-height js-full-height">
              <div class="cover-intro">
                <h1 class="animated slideInLeft cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Toast to a new dine in experience</h1>
                <h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Worked off with the vision of revolutionizing the way people <br /> order at restaurants, caffes, bars and the clubs we wanted to <br /> reduce the wait time of customers ordering of any ways. </h2>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a href="https://play.google.com/store?hl=en_US" class="btn btn-default"><img src="assets/images/gplay.png" width="100" height="40" /></a><a class="btn btn-default"><img src="assets/images/aplay.png" width="100" height="40" /></a></p>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s"><a href="#work" class="btn btn-default">Know more about toast app</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
      <div id="toast" class="project-style-2" data-stellar-background-ratio="0.5">
          <div class="container">
              <div class="row p-b">
                  <div class="col-md-6 col-md-offset-3 text-center">
                      <h2 class="heading" data-wow-duration="1s" data-wow-delay=".5s">Benefits of {{title}}</h2>
                  </div>
              </div>
          </div>
          <div class="projects">
              <ul>
                  <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s" data-stellar-background-ratio="0.5">
                      <a href="#pros">
                          <div class="overlay"></div>
                          <div class="container">
                              <div class="text">
                                  <div class="text-inner">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <h3>Pros of {{title}}</h3>
                                          </div>
                                          <div class="col-md-6">
                                              <p>..........</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </li>
                  <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s" data-stellar-background-ratio="0.5">
                      <a href="#cons">
                          <div class="overlay"></div>
                          <div class="container">
                              <div class="text">
                                  <div class="text-inner">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <h3>Cons of {{title}}</h3>
                                          </div>
                                          <div class="col-md-6">
                                              <p>..........</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </li>
              </ul>
          </div>
      </div>

      <div id="work" class="counter-style-2" style="background-image: url(/assets/images/yoga.png);" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
              <div class="section-content-wrap">
                  <div class="section-content">
                      <div class="row">
                          <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                              <div class="icon">
                                  <i class="icon-power"></i>
                              </div>
                              <span class="counter js-counter" data-from="0" data-to="3" data-speed="5000" data-refresh-interval="50"></span>
                              <span class="counter-label">Classes Taken</span>
                          </div>
                          <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">

                          </div>
                          <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                              <div class="icon">
                                  <i class="icon-code2"></i>
                              </div>
                              <span class="counter js-counter" data-from="0" data-to="8000" data-speed="5000" data-refresh-interval="50"></span>
                              <span class="counter-label">Line of Codes</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  -->

    <div id="contact" class="footer-style-3" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row p-b">

          <div class="col-md-3 col-sm-6 footer-widget wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s">
            <h3>Tehnologies</h3>

            <p><img src="assets/images/mean.png" class="img-responsive" width="130" height="70"><br></p>
          </div>



          <div class="col-md-3 col-sm-6 footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.8s">
            <h3>Service By</h3>

            <p><img src="assets/images/azure.png" alt="Service-by" class="img-responsive" width="50" height="50"></p>
          </div>

          <div class="clearfix visible-sm-block"></div>

          <div class="col-md-3 col-sm-6 footer-widget wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.16s">
            <h3>Connect</h3>
            <ul class="links social">
              <li><a href="#"><i class="icon icon-twitter"></i> Twitter</a></li>
              <li><a href="#"><i class="icon icon-github-square"></i> GitHub</a></li>
              <li><a href="#"><i class="icon icon-linkedin-square"></i> Linkedin</a></li>
            </ul>
          </div>

          <div class="col-md-3 col-sm-6 footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.4s">
            <div class="logo"><span class="logo">TO</span> TOAST</div>
            <div class="copyright">&copy; 2019-20 {{title}}. <br>All Rights Reserved.<br> <a href="#myModal" data-toggle="modal" data-target="#myModal"> Privacy Policy </a></div>

          </div>

        </div>
        <div class="row made">
          <div class="col-md-12 wow bounceInDown" data-wow-duration="1s" data-wow-delay="3.2s">
            <p>Explore the Restaurant</p>
          </div>
        </div>
      </div>
    </div>
    <!-- END footer -->

  </div>
<!-- END page-->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{priv}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Last updated: Nov 1, 2019</p>
                <p>{{title}} (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;) operates the .... website (the &quot;Service&quot;).</p>
                <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.</p>
                <p>We will not use or share your information with anyone except as described in this Privacy Policy. <a href="https://termsfeed.com/blog/sample-privacy-policy-template/">Our Privacy Policy</a> was created with TermsFeed.</p>
                <p>We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used
                    in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at toast.com</p>
                <p><strong>Information Collection And Use</strong></p>
                <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, phone
                    number, postal address, other information (&quot;Personal Information&quot;).</p>
                <p><strong>Log Data</strong></p>
                <p>We collect information that your browser sends whenever you visit our Service (&quot;Log Data&quot;). This Log Data may include information such as your computer's Internet Protocol (&quot;IP&quot;) address, browser type, browser version,
                    the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
                <p><strong>Cookies</strong></p>
                <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
                <p>We use &quot;cookies&quot; to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
                </p>
                <p><strong>Service Providers</strong></p>
                <p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
                <p>These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
                <p><strong>Security</strong></p>
                <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect
                    your Personal Information, we cannot guarantee its absolute security.</p>
                <p><strong>Links To Other Sites</strong></p>
                <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
                <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
                <p><strong>Changes To This Privacy Policy</strong></p>
                <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
                <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
                <p><strong>Contact Us</strong></p>
                <p>If you have any questions about this Privacy Policy, please contact us.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
